img {
    max-width: 450px;   
}

header {
    background-color: whitesmoke;
}

#search-container,
#no-favorites-message {
    border-radius: 5px;
    background-color: whitesmoke;
}

#search-input-btn {
    width: 100%;
    background-color: hsl(171, 100%, 41%);
    border-radius: 5px;
}