img {
    max-width: 450px;   
}

header, 
#search-container {
    background-color: whitesmoke;
}

#search-container {
    border-radius: 5px;
}

#search-input-btn {
    width: 100%;
    background-color: hsl(171, 100%, 41%);
    border-radius: 5px;
}